# Docker
PROJECT_NAME="wtb"

# Database
DB_PORT=5432
DB_NAME="wallet_tracker_bot"
DB_USERNAME="wallet_tracker_bot"
DB_PASSWORD="Strong_Password_123456"

# Bot
ADMIN_ID=123
BOT_TOKEN="AAA"
MODE=MAIN

# Cache
REDIS_INNER_PORT=2769

# Connections
HELIUS_API_KEY=AAA
# -- not required --
COINGECKO_API_KEY=AAA
BIRDEYE_API_KEY=AAA